body{
    background-color: rgb(230, 230, 230);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#login_form{
    border: 2px solid black;
    border-radius: 10px;
    background: linear-gradient(to bottom right, rgb(133, 79, 133), rgb(255, 136, 0));
    color: white;
    padding: 5px;
    width: 260px;
    height: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#email{
    width: 250px;
    height: 15px;
    font-size: large;
}
#password{
    width: 215px;
    height: 15px;
    font-size: medium;
}
#show{
    background-color: white;
    border: none;
    text-align: center;
    opacity: 0.8;
}
#show:hover{
    cursor: pointer;
    opacity: 1.0;
}
#login{
    background-color: rgb(200, 200, 200);
    color: black;
    float: right;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
#login:hover{
    background-color: rgb(0, 119, 255);
    color: white;
    cursor: pointer;
}
#header2{
    text-align: center;
}
label{
    font-size: large;
}
a{
    color: white;
}
a:visited{
    color: cyan;
}